.App-footer {
    background-color: #6c503e;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%; 
    bottom: 10px; 
  }
  
  p {
    margin: 10px;
    font-size: 14px;
  }
  
  .footer-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: white;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }