body {
    margin: auto;
  }

  h1 {
    color: rgb(180, 138, 86);
    margin-bottom: 0px; 
  }

  .App-header {
    background-color: rgb(58, 33, 22);
    text-align: center;
    width: 100%;
  }

  .nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: rgb(180, 138, 86);
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(58, 33, 22);
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
 