body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #c0a080;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coffee-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin-top: 20px;
}

.coffee-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 40%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.coffee-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 50%;
  height: auto;
}

/* This begins the promo portion */
.promo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-container {
  width: 50%;
  padding: 20px;
  align-items: center;
}

.App-header {
  background-color: #333;
  color: white;
  padding: 1em;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
}

h1 {
  color: #ffffff;
  margin-bottom: 20px; 
}